.cabecera{
    width: 80%;
    height: 200px;
    background-color: red;
    margin: 10px auto 10px auto;
    margin-bottom: 10px;
    border:2px solid black;
}

.main{
 width: 60%;
 background-color: blue;
 height:500px;

}
.main2{
   width: 35%;
   background-color: green;
   height: 500px; 
}
.principal{
    display: flex;
    justify-content: space-between;
     margin: 10px auto 10px auto;
     width: 80%;
     height: 500px;
}
.pie{

    background-color: yellow;
    height: 200px;
   margin: 10px  auto 10px auto;
   width: 80%;
}